.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create_form_input {
  width: 300px;
  padding: 10px;
  border-bottom: 2px solid;
  outline: none;
}

.create_form_botton {
  padding: 10px;
  background-color: #7fc7d9;
  cursor: pointer;
  color: white;
}

.task {
  display: flex;
  align-items: center;
  width: 345px;
  justify-content: space-between;
  background-color: #365486;
  color: white;
  height: 35px;
  padding: 2px 5px 2px 5px;
  margin-top: 2px;
}

.checkbox {
  display: flex;
  align-items: center;
}

.line_through {
  text-decoration: line-through;
}

.checkbox .icon {
  margin-right: 5px;
  font-size: 15px;
}

.task div span {
  margin: 0px 5px 0px 4px;
}

.task div .icon {
  cursor: pointer;
}
